body {
    display: flex;
    /* border: 10px solid black; */
    margin: 0;
}

.logo-main {
    /* border: 2px solid green; */
    background-image: url(images/dewang-gupta-9tVnkU8WbIo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    min-width: 35vw;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.logo-title {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    height: 80px;
    background:rgba(44, 42, 42, 0.3);
    padding: 10px 20px;
}

.logo-title > img {

    margin-right: 10px;
}

.logo-title > .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: aliceblue;
}

footer a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
}

.content {
    width: 100%;

}

.content .content-title {
    padding: 15px 40px;
    border: 1px solid black;
    background-color: rgb(79, 58, 202);

}

.content-title .title {
    border: 1px solid black;
    max-width: 700px
}

.content .content-mid {
    background-color: rgb(204, 150, 150);
}

form {
    width: 50em;
    height: 30vh;
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

form .input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 10em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: white;
}

input {
    height: 18px;
    border-radius: 5px;
}

.content .content-bottom {
    border: 1px solid red;
    font-size:25px;
    padding: 20px 40px;
    background-color: aqua;
}


button {
    width: 11em;
    height: 2em;
    color: rgb(200, 54, 54);;
    border-radius: 5px;
    border: 2px solid rgb(247, 0, 0);
    transition: all 0.3s;
    font-size: 1em;
    box-shadow: 2px 2px 4px black;
}

button:hover {
    color:white;
    background-color: rgb(200, 54, 54);
}