body {
    display: flex;
    /* border: 10px solid black; */
    margin: 0;
}

.logo-main {
    background-image: url(images/dewang-gupta-9tVnkU8WbIo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    min-width: 35vw;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.logo-title {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    height: 80px;
    background:rgba(44, 42, 42, 0.5);
    padding: 10px 20px;
}

.logo-title > img {
     margin-right: 10px;
}

.logo-title > .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: aliceblue;
}

footer a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
}

.content {
    width: 100%;
    position: relative;
}

.content .content-title {
    padding: 15px 40px;
    background-color: rgb(197, 193, 220);
    height: 30vh;
    position: relative;
}

.content-title .title {
    position: absolute;
    top: 8vw;
}

.content .content-mid {
    background-color: rgb(204, 150, 150);
    border: 1px solid black;
    margin: 0;
    height: 35vh;
}

.content-mid .form-title {
    padding: 5px 40px;
    /* border :1px solid black; */
}

form {
    width: 450px;
    padding: 10px 40px;
    margin-top: -25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 80px;
    /* border: 1px solid black; */
}

form .input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    /* border: 1px solid black; */
}

.input {

}

.content .content-bottom {
    /* border: 1px solid red; */
    font-size:25px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* background-color: aqua; */
}


button {
    width: 180px;
    height: 40px;
    color: rgb(200, 54, 54);;
    border-radius: 5px;
    border: 2px solid rgb(247, 0, 0);
    transition: all 0.3s;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 4px black;
}

button:hover {
    color:white;
    background-color: rgb(200, 54, 54);
}

.verifier {
    font-size: 20px;
}

.verifier a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.git-credit {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* gap: 10px; */
    background-color: black;
    color: white;
    height: 50px;
    font-family: 'Roboto', sans-serif;

}

.git-credit p {
    border: 1px solid white;
}

.git-credit a {
    border: 1px solid white;
}