body {
    display: flex;
    /* border: 10px solid black; */
    margin: 0;
}

.logo-main {
    /* border: 2px solid green; */
    background-image: url(images/dewang-gupta-9tVnkU8WbIo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    min-width: 35vw;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.logo-title {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    height: 80px;
    background:rgba(44, 42, 42, 0.3);
    padding: 10px 20px;
}

.logo-title > img {

    margin-right: 10px;
}

.logo-title > .title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: aliceblue;
}

a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
}

.content {
    justify-content: space-between;
    align-items: left;
    border: 1px solid red;
    width: 66vw;
    position: relative;
}

.content .content-title {
    position: absolute;
    top: 150px;
    border: 1px solid red;
}

form {
    border: 1px solid red;
    position: absolute;
    top: 300px;
}

.content .content-bottom {
    position: absolute;
    border: 1px solid red;
    bottom: 150px;

}

